*{
	margin:0;
	padding: 0;
	font-family: Arial;
}
body{
	width: 100%;
	overflow-x: hidden;
	position: relative;
}
nav{
	padding: 20px;
	background-color: #000;
	color: #fff;
	text-align: center;
}
.container{
	padding: 30px;
	width: 100%;
	text-align: center;
}
.spinner_div{
	margin-left: auto;
	margin-right: auto;
	/*border:2px solid red;*/
	height: 250px;
	width: 250px;
	background-position: center;
	background-image: url(spinner.png);
	background-repeat: no-repeat;
	background-size: contain;
	transform-origin: center;

	animation-name: anim;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	cursor: pointer;
}
@keyframes anim{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1.05);
	}
}
.floating_winner{
	position: fixed;
	bottom: 0;
	left: 20px;
	background-color: #000;
	color: #fff;
	padding-bottom: 5px
}
.single_floating_winner{
	display: flex;
	padding: 10px;
	align-items: center;
	width: 300px;
	border-bottom: 1px solid #ddd;
}
.single_floating_winner img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.single_floating_winner div{
	padding-left: 20px;
}
.container button{
	margin-top: 50px;
	padding: 7px 30px 7px 30px;
	background-color: orange;
	color: #000;
	border:0;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}
.spin{
	animation-name: spin;
	animation-duration: .2s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
/*///*/
particle {
  border-radius: 50%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
}
#p_warning{
	position: fixed;
	bottom: 10px;
	right: 20px;
	font-size: 20px;
	color: red;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}